@charset "utf-8";

.c-clearfix {
	zoom: 1
}
.c-clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}
.lh1 {
	line-height: 39px
}
.fl {
	float: left;
	display: inline
}
.public_top {
	background: #eff0ef;
	border-bottom: #e0e1e0 solid 1px;
	height: 39px;
	width: 100%;
	position: relative;
	z-index: 1000000;
	top: 0;
	left: 0;
	color: #676867;
	font-size: 12px;
	text-align: left
}
.public_top .wp1000 {
	position: relative
}
a {
	text-decoration: none
}
a:hover {
	text-decoration: underline
}
.pb-login-other, .pb-user-msg, .HD-buy-msg div {
	color: #676867
}
.public_top_fixed {
	background: #2e332c;
	position: fixed;
	border-bottom: #595d54 solid 1px
}
.public_top_absolute {
	position: absolute
}
.wp1000 {
	width: 1000px;
	margin-left: auto;
	margin-right: auto
}
.pb-mn1-title {
	font-family: '宋休';
	font-size: 12px;
	line-height: 39px;
	cursor: pointer;
	position: relative;
	z-index: 1000002
}
.pb-mn1-title:hover {
	text-decoration: none
}
.pb-mn1-title, .pb-mn1-title:link, .pb-mn1-title:visited, .pb-mn1-title:active {
	color: #8b8c8b
}
.public_top_fixed .pb-mn1-title {
	color: #fff
}
.pb-sd .pb-mn1-title {
	color: #8b8c8b
}
.pb-mn1 {
	float: left;
	display: inline;
	position: relative;
	border-left: #fff solid 1px;
	border-right: #e0e1e0 solid 1px;
	height: 39px;
	z-index: 1000002
}
.public_top_fixed .pb-mn1 {
	border-left: #595d54 solid 1px;
	border-right: #282923 solid 1px
}
.public_top_fixed .pb-sd {
	border-left: #e0e1e0 solid 1px;
	border-right: #e0e1e0 solid 1px
}
.pb-mn1bx-left .pb-mn1-title, .pb-mn1bx-right .pb-mn1 {
	padding-left: 16px;
	padding-right: 16px;
	height: 39px;
	display: inline-block
}
.pb-qbkc .pb-mn1-title {
	_height: 26px;
	_padding-top: 13px
}
.pb-mn1bx-right .pb-gwc {
	padding-right: 10px;
	padding-left: 12px;
	display:none;
}
.pb-mn1bx {
	float: left;
	display: inline;
	border-left: #e0e1e0 solid 1px;
	border-right: #fff solid 1px;
	height: 39px
}
.public_top_fixed .pb-mn1bx {
	border-left: #282923 solid 1px;
	border-right: #595d54 solid 1px
}
.pb-jt {
	display: inline-block;
	vertical-align: middle;
	width: 7px;
	height: 4px;
	background: url(/img/video/ic.gif) 0 0 no-repeat;
	margin-left: 4px;
	overflow: hidden;
	line-height: 0
}
.pb-mn2bx {
	float: left;
	display: inline;
	line-height: 39px;
	padding-left: 8px
}
.pb-mn2bx .pb-hr1 {
	float: left;
	display: inline;
	margin-top: 12.5px
}
.public_top_fixed .pb-mn2bx {
	display: none
}
.pb-mn2bx .pb-mn2 {
	padding: 0 8px;
	text-decoration: none
}
.pb-mn2 {
	float: left;
	display: inline;
	padding: 0 16px;
	font-family: '宋休';
	font-size: 12px
}
.pb-mn2:hover, .pb-mn2, .pb-mn2:link, .pb-mn2:visited, .pb-mn2:active {
	color: #9d9e9d
}
.pb-hr1 {
	display: inline-block;
	vertical-align: middle;
	width: 1px;
	height: 14px;
	border-right: #9d9e9d solid 1px;
	overflow: hidden;
	line-height: 0
}
.pb-right {
	position: absolute;
	top: 0;
	right: 0
}

.pb-gwc .pb-mn1-title .pb-icon-title {
	color: #8b8c8b;
	display: inline-block;
	line-height: 23px
}

.pb-gwc .pb-gwc-num {
	font-family: 'microsoft yahei';
	font-size: 12px;
	display: inline-block;
	vertical-align: top;
	width: 15px;
	line-height: 12px;
	text-align: center;
	font-weight: normal;
	*margin-top: -2px
}

.public_top .pb-mn1-title .pb-icon-title {
	vertical-align: top;
	font-size: 12px;
	display: none
}

.public_top .pb-sd .pb-mn1-title .pb-icon-title {
	color: #444
}
.public_top .pb-gwc-sd-not-empty:hover .pb-mn1-title {
	background-position: 0 -43px
}

.pb-xxtz .pb-mn1-title {
	padding-left: 20px;
	height: 18px;
	display: inline-block;
	vertical-align: middle;
	margin-top: 11px;
  cursor:text;
}
.pb-xxtz .pb-ds-all{width:118px;text-align:center;}
.pb-xxtz .pb-list-a{padding-left:0}
.pb-xxtz .pb-jt{margin-top:15.5px;}
.pb-xxtz .pb-mn1-title .pb-icon-title {
	line-height: 20px
}

.pb-xxtz .pb-xxtz-num {
	font-family: '宋休';
	line-height: 0;
	font-size: 0;
	display: inline-block;
	width: 4px;
	height: 4px;
	position: absolute;
	z-index: 1000003;
	top: -2px;
	left: 15px
}

.pb-ds .pb-mn1-title {
	width: 15px;
	height: 17px;
	display: inline-block;
	vertical-align: middle;
	margin-top: 11px
}

.pb-ds .pb-jt {
	margin-top: 15.5px
}
.public_top .pb-ds-sd {
	margin-right: -2px;
	padding-right: 18px
}

.pb-regist {
	padding: 0 16px;
	float: left;
	display: inline
}
.pb-regist-title {
	font-family: '宋休';
	font-size: 12px;
	line-height: 39px
}
.public_top_fixed .pb-regist-title:hover, .public_top_fixed .pb-regist-title, .public_top_fixed .pb-regist-title:link, .public_top_fixed .pb-regist-title:visited, .public_top_fixed .pb-regist-title:active {
	color: #fff
}
.pb-regist-title:hover, .pb-regist-title, .pb-regist-title:link, .pb-regist-title:visited, .pb-regist-title:active {
	color: #8b8c8b
}
.public_top .pb-login {
	float: left;
	display: inline;
	position: relative;
	border-left: none;
	border-right: none
}
.pb-login-error {
	color: #d01312;
	line-height: 20px;
	min-height: 20px;
	_height: 20px;
	margin-bottom: 5px
}
.pb-user {
	float: left;
	display: inline;
	position: relative
}
.pb-user .pb-user-img {
	width: 24px;
	height: 24px;
	margin-top: 7.5px
}
.pb-user .pb-user-title {
	line-height: 39px;
	color: #8b8c8b;
	display: inline-block;
	vertical-align: top
}
.public_top_fixed .pb-user-title {
	color: #fff
}
.pb-user-sd .pb-user-title {
	color: #8b8c8b
}
a.pb-login-title:link, a.pb-login-title:visited, a.pb-login-title:hover {
	font-family: '微软雅黑';
	font-size: 14px;
	line-height: 39px;
	color: #fff;
	display: inline-block;
	vertical-align: middle;
	padding: 0 16px;
	background: #0DBBA1;
	height: 42px;
	cursor: pointer;
	text-decoration: none
}
a.pb-login-title:hover {
	background-position: 0 -42px
}
.pb-sd {
	background: #fff;
	z-index: 1000003
}
.pb-sd-white {
	background: #fff
}

.pb-qbkc-bd {
	border: #0DBBA1 solid 2px
}
.pb-qbkc-sd {
	border-bottom: none;
	height: 37px;
	margin: 0 -1px
}
.public_top .pb-qbkc-sd {
	border: #0DBBA1 solid 2px
}
.pb-qbkc-sd .pb-qbkc-all {
	display: block
}
.pb-qbkc-sd .pb-mn1-title {
	line-height: 35px;
	background: #fff
}
.pb-qbkc-all {
	position: absolute;
	display: none;
	width: 996px;
	background: #fff;
	border: #0DBBA1 solid 2px;
	z-index: 1000001;
	top: 37px;
	left: -2px;
	padding: 10px 0;
	zoom: 1
}
.pb-qbkc-all:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}
.pb-qbkc-td {
	width: 200px;
	height: 300px;
	float: left;
	display: inline;
	padding-left: 39.2px;
	font-family: '宋休';
	font-size: 12px
}
.pb-qbkc-h2 {
	line-height: 28px;
	border-bottom: #666766 solid 2px;
	font-weight: bold
}
.pb-qbkc-h2, .pb-qbkc-h2 a, .pb-qbkc-h2 a:hover {
	color: #333
}
.pb-qbkc-links {
	line-height: 22px;
	margin: 3px 0 9px 0
}
.pb-qbkc-links a {
	color: #676867
}
.pb-qbkc-links .pb-hr1 {
	margin: 0 5px
}
.pb-qbkc-lh1 {
	height: 23px
}
.pb-qbkc-lh2 {
	height: 44px
}
.pb-qbkc-lh4 {
	height: 88px
}
.pb-list-top {
	position: absolute;
	display: none;
	background: #fff;
	z-index: 1000003;
	width: 100%;
	height: 2px;
	top: 38px;
	left: -1px;
	border-right: #fff solid 1px;
	line-height: 0;
	overflow: hidden
}
.pb-sd .pb-list-top {
	display: inline-block
}
.pb-list-all {
	position: absolute;
	display: none;
	background: #fff;
	border: #e0e1e0 solid 1px;
	z-index: 1000001;
	top: 38px;
	right: -1px;
	padding: 4px 0
}
.pb-sd .pb-list-all {
	display: block
}
.pb-gwc-all {
	width: 360px;
	padding: 12px 12px;
	color: #676867
}
.pb-gwc-empty {
	width: 260px;
	padding: 22px 15px 18px 15px
}
.pb-gwc-not-empty {
	padding: 0
}
.pb-gwc-not-empty .table-wrap {
	padding: 10px 24px;
	max-height: 210px;
	overflow-y: auto
}
.pb-gwc-not-empty .table-wrap::-webkit-scrollbar {
	width: 16px
}
.pb-gwc-not-empty .table-wrap::-webkit-scrollbar-button {
	background-color: #bcbcbc
}

.pb-gwc-not-empty .table-wrap::-webkit-scrollbar-track-piece {
	background-color: #f8f8f8
}
.pb-gwc-not-empty .table-wrap::-webkit-scrollbar-thumb {
	border: 1px solid #bcbcbc;
	background: #eff0ef
}
.pb-login-all {
	width: 216px;
	padding: 5px 20px 30px;
	color: #676867;
	left: 0;
	right: auto;
	top: 39px
}
.pb-login-all .pb-login-other {
	line-height: 12px;
	font-family: '宋休';
	font-size: 12px;
	margin-bottom: 20px
}
.pb-login-all .pb-login-other input {
	vertical-align: middle
}
.pb-login-all .pb-login-passport {
	float: right;
	color: #016697
}
.pb-login-all .pb-input {
	width: 202px;
	margin: 0;
	margin-bottom: 10px;
	border: #e0e1e0 solid 1px;
	line-height: 30px;
	height: 30px;
	padding: 0 6px;
	display: block;
	font-weight: normal
}
.pb-login-all .pb-input-focus {
	font-weight: bold
}
.pb-login-all .pb-input-focus::-webkit-input-placeholder {
	font-weight: normal
}
.pb-login-all .pb-input-focus:-moz-placeholder {
	font-weight: normal
}
.pb-ds-all {
	width: 100px
}
.pb-xxtz-all {
	width: 105px
}
.pb-list-a {
	display: block;
	line-height: 24px;
	font-family: '宋休';
	font-size: 12px;
	padding-left: 10px
}
.pb-list-a strong {
	font-weight: bold;
	cursor: pointer;
	float: right;
	display: inline;
	margin-right: 10px
}
.pb-list-a:hover {
	background: #eff0ef;
	text-decoration: none;
	color: #676867
}
.pb-list-a, .pb-list-a:link, .pb-list-a:visited, .pb-list-a:active {
	color: #676867
}
.HD-buy-list {
	width: 100%;
	line-height: 18px
}
.HD-buy-list td {
	padding: 9px 5px 9px 0
}
.HD-buy-list td.last {
}
.HD-buy-msg {
	line-height: 34px;
	background-color: #f8f8f8
}
.HD-buy-msg div {
	display: inline-block;
	height: 48px;
	line-height: 48px;
	width: 235px;
	padding-left: 25px;
	vertical-align: middle
}
.HD-buy-red {
	color: #d01312
}
.HD-buy-red-total {
	font-size: 18px;
	font-family: 'microsoft yahei'
}
.HD-buy-list-l {
	text-align: left
}
.HD-buy-list-l a, .HD-buy-list-l a:hover, .HD-buy-list-l a:link, .HD-buy-list-l a:visited, .HD-buy-list-l a:active {
	color: #046696
}
.HD-buy-list-r {
	text-align: left;
	vertical-align: top
}
.HD-buy-go {
	display: inline-block;
	width: 90px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	color: #fff;
	font-family: 'microsoft yahei';
	font-size: 16px;
	background-color: #ff6507;
	border-radius: 2px;
	vertical-align: middle
}
.HD-buy-go:hover {
	color: #fff;
	text-decoration: none
}
.HD-buy-go:link, .HD-buy-go:visited, .HD-buy-go:active {
	color: #fff
}
.pb-gwc-nodata {
	position: relative;
	color: #8b8c8b;
	line-height: 19px;
	padding-left: 28px;
	font-family: 'microsoft yahei';
	color: #9e9e9e
}
.pb-gwc-nodata-icon {
	position: absolute;
	width: 19px;
	height: 19px;
	top: 0px;
	left: 0px
}
.pb-user-all {
	width: 226px;
	padding: 20px 20px 15px 20px
}
.pb-user-bigImg {
	float: left;
	display: inline;
	margin-right: 14px;
	width: 60px;
	height: 60px
}
.pb-user-msg {
	float: left;
	display: inline;
	line-height: 24px;
	margin-bottom: 15px;
	clear: right;
	margin-top: -5px;
	width: 150px
}
.pb-user-msg-title {
	font-weight: bold;
	color: #8b8c8b
}
.pb-user-msg-title:hover, .pb-user-msg-title:link, .pb-user-msg-title:visited, .pb-user-msg-title:active {
	color: #8b8c8b
}
.pb-user-msg-link {
	color: #016697
}
.pb-user-msg-link:hover, .pb-user-msg-link:link, .pb-user-msg-link:visited, .pb-user-msg-link:active {
	color: #016697
}
.pb-user-bottom {
	clear: both;
	padding-top: 10px;
	border-top: #e0e1e0 solid 1px;
	line-height: 19px
}
.pb-user-bottom .pb-user-loginout {
	float: right;
	padding: 0 14px;
	line-height: 24px;
	height: 24px;
	font-family: '宋休';
	font-size: 12px;
	border: #d3d5d8 solid 1px
}
.pb-user-bottom .pb-user-loginout:hover {
	background-position: 0 -108px;
	text-decoration: none
}
.pb-user-bottom .pb-user-loginout, .pb-user-bottom .pb-user-loginout:link, .pb-user-bottom .pb-user-loginout:visited, .pb-user-bottom .pb-user-loginout:active {
	color: #8b8c8b
}
.pb-user-bottom .pb-user-xxjh-icon {
	display: inline-block;
	vertical-align: middle;
	width: 17px;
	height: 19px;
	margin-right: 5px
}
.pb-user-bottom .pb-user-xxjh-link {
	color: #016697;
	display: inline-block;
	vertical-align: middle
}
.pb-user-bottom .pb-user-xxjh-link:hover, .pb-user-bottom .pb-user-xxjh-link:link, .pb-user-bottom .pb-user-xxjh-link:visited, .pb-user-bottom .pb-user-xxjh-link:active {
	color: #016697
}
.pb-user-msg-btn {
	display: inline-block;
	vertical-align: middle;
	width: 97px;
	height: 27px;
	line-height: 27px;
	text-align: center;
	font-family: '宋休';
	font-size: 12px;
	background: #0DBBA1;
	margin-top: 5px
}
.pb-user-msg-btn:hover {
	background: #10D1B4;
	color: #fff;
	text-decoration: none
}
.pb-user-msg-btn, .pb-user-msg-btn:link, .pb-user-msg-btn:visited, .pb-user-msg-btn:active {
	color: #fff
}
.wp1200 {
	width: 1200px
}
.wp1200 .pb-qbkc-all {
	width: 1196px
}
.wp1200 .pb-qbkc-td {
	width: 250px;
	padding-left: 39.2px
}
#b_b3 {
	margin: 14px auto 0 auto;
	width: 1000px;
	overflow: hidden
}
#b_b3 .t {
	color: #7b7c7b;
	margin-right: 12px
}
#b_b3 a, #b_b3 a:visited {
	color: #377a37;
	text-decoration: none
}
#b_b3 .t1 {
	line-height: 22px;
	text-align: left;
	padding: 8px 14px;
	border: 1px #91cf90 solid
}
#b_b3 .t1 a {
	margin-right: 12px
}
#b_b1 {
	text-align: left;
	margin: 14px auto 0;
	width: 1000px
}
#b_b1 .t {
	border: #8ccd8c 1px solid;
	background: #f3faf3;
	height: 35px
}
#b_b1 .t_bg {
	margin: 0 2px;
	height: 35px;
	line-height: 35px
}
#b_b1 .m {
	border: #8ccd8c 1px solid;
	height: 134px
}
#b_b1 H3 {
	color: #006928;
	font-size: 14px
}
#b_b1 H3 A {
	color: #006928
}
#b_b1 A {
	color: #333
}
.h3b1, .h3b2, .h3b3, .h3b4, .h3b5 {
}
.h3b1 {
	padding-left: 36px;
	width: 142px;
	background-position: -1px 0;
	float: left
}
.h3b2 {
	padding-left: 32px;
	width: 142px;
	background-position: -8px -30px;
	float: left
}
.h3b3 {
	padding-left: 36px;
	width: 142px;
	background-position: -8px -60px;
	float: left
}
.h3b4 {
	padding-left: 36px;
	width: 140px;
	background-position: -7px -91px;
	float: left
}
.h3b5 {
	padding-left: 36px;
	width: 197px;
	background-position: -7px -121px;
	float: right
}
.f_c1 {
	width: 175px;
	float: left
}
.f_c1 UL {
	padding-bottom: 0;
	line-height: 21px;
	padding-left: 6px;
	padding-right: 0;
	padding-top: 16px
}
.f_c1 .pad1 {
	padding-left: 16px
}
.f_c1 LI {
	padding-left: 8px;
}
.f_c2 {
	width: 235px;
	float: right
}
.f_c2 P {
	line-height: 21px;
	margin: 16px 0 0 4px;
	width: 220px
}
#b_b2 {
	text-align: center;
	margin: 14px auto 0;
	width: 1000px
}
#b_b2 .copyright {
	border: #8bcd8d 1px solid;
	height: 35px;
	color: #006927;
	font-size: 14px;
	line-height: 35px
}
.copyright p {
	margin: 0
}
.copyright A {
	color: #666
}
#b_b2 .ft_p1 {
	line-height: 22px;
	margin: 16px 0 0;
	font-family: Tahoma;
	color: #333
}
#b_b2 .ft_p1 a, #b_b2 .ft_p1 a:visited {
	color: #333
}
.ft_logo {
	padding-bottom: 14px;
	padding-left: 0;
	padding-right: 0;
	padding-top: 6px;
	position: relative
}
.kooxin {
	position: absolute;
	right: 98px;
	top: -43px
}
.bds_tools {
	line-height: 18px;
	font-size: 12px;
	color: #0e51eb
}
.wp1000 .bxs, .wp1000 .pb-mn2bx span:nth-child(16) {
	display: none
}
.wp1200 .bxs, .wp1200 .pb-mn2bx span:nth-child(16) {
	display: inline
}
.wp1200 .pb-xxtz .pb-xxtz-num {
	left: 42px;
	top: 0
}
.wp1200 .pb-mn1-title .pb-icon-title {
	display: inline-block
}
/* 注册有礼 */
.pb-right{width:340px;height:40px;}
 .public_top .pb-login,.public_top .pb-regist,.public_top .pb-mn1bx{position:absolute !important;}
 .public_top .pb-login{left:130px;}
 .public_top .pb-login a,.public_top .pb-login a:hover,.public_top .pb-login a:visited{background:none !important;color:#838383 !important;}
 .pb-login.pb-sd{background:none !important;}
 .public_top .pb-regist{width:120px;left:0;top:4px;padding:0 !important;}
 .public_top .pb-regist a{
     border:#D7D7D7 solid 1px;
     height:28px;
     line-height:28px;
     padding-left:45px;
     display:block;
     background:#fff url(/img/video/money.gif) 10px 2px no-repeat;
     border-radius:14px;
     font-size:14px !important;
 }
 .public_top .pb-mn1bx{right:0}