<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:jms="http://www.springframework.org/schema/jms" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="
                    http://www.springframework.org/schema/beans
                    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                    http://www.springframework.org/schema/tx 
                    http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
                    http://www.springframework.org/schema/aop 
                    http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
                    http://www.springframework.org/schema/context      
                    http://www.springframework.org/schema/context/spring-context-4.0.xsd
                    http://www.springframework.org/schema/cache 
                    http://www.springframework.org/schema/cache/spring-cache-4.0.xsd
                    http://www.springframework.org/schema/jms 
                    http://www.springframework.org/schema/jms/spring-jms-4.0.xsd   
                    http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd ">

	<context:annotation-config />
	<context:component-scan base-package="com.cff.springwork">
	</context:component-scan>
	
	<bean id="annotationPropertyConfigurerJms"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="order" value="1" />
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="locations">
			<list>
				<value>classpath:jms.properties</value>
			</list>
		</property>
	</bean>
	
	<bean id="targetConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
		<property name="brokerURL" value="${brokerURL}" />
	</bean>
	<bean id="connectionFactory"
		class="org.springframework.jms.connection.SingleConnectionFactory">
		<!-- 目标ConnectionFactory对应真实的可以产生JMS Connection的ConnectionFactory -->
		<property name="targetConnectionFactory" ref="targetConnectionFactory" />
	</bean>

	<bean id="defaultQueueDestination" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg value="${destQueueName}" />
	</bean>
	<bean id="listenQueueDestination" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg value="${listenQueueName}" />
	</bean>

	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<!-- 这个connectionFactory对应的是我们定义的Spring提供的那个ConnectionFactory对象 -->
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="defaultDestination" ref="defaultQueueDestination" />
	</bean>

	<bean id="mqMessageListener" class="com.cff.springwork.activemq.handler.MqMessageConsumer">
		<property name="handler" ref="jsonParseHander" />
	</bean>
	
	<bean id="jsonParse1001" class="com.cff.springwork.activemq.parser.JsonParse1001">
	</bean>

	<bean id="jsonParseHander" class="com.cff.springwork.activemq.handler.bussiness.JsonParseHander">
		<property name="nextHandler" ref="bussiNessHander" />
		<property name="parsers">
			<map>
				<entry key="1001" value-ref="jsonParse1001" />
			</map>
		</property>
	</bean>
	
	<bean id="bussiNessHander" class="com.cff.springwork.activemq.handler.bussiness.BussiNessHander">
		<property name="nextHandler" ref="mqMessageProducer" />
	</bean>
	
	<bean id="mqMessageProducer" class="com.cff.springwork.activemq.handler.MqMessageProducer">
		<property name="jmsTemplate" ref="jmsTemplate" />
	</bean>
	<!-- 消息监听容器 -->
	<bean id="jmsContainer"
		class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="concurrency" value="5-10"></property>
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="listenQueueDestination" />
		<property name="messageListener" ref="mqMessageListener" />
		<property name="sessionTransacted" value="true"/>  
	</bean>

	

</beans>