<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  
<mapper namespace="com.cff.springwork.mybatis.mapper.SuggestMapper">  
    <resultMap id="BaseResultMap" type="com.cff.springwork.model.activi.UserTask">  
        <result column="taskid" property="taskid" />  
        <result column="userid" property="userid" /> 
        <result column="title" property="title" />
        <result column="type" property="type" />  
        <result column="tasktype" property="tasktype" />  
        <result column="content" property="content" />  
        <result column="name" property="name" />  
        <result column="email" property="email" />  
        <result column="mobile" property="mobile" /> 
        <result column="curviewer" property="curviewer" />
        <result column="status" property="status" />  
    </resultMap>  
  	<sql id="Base_Column_List" >  
    	taskid, userid, title, type, tasktype, content, name, email, mobile, curviewer, status
  	</sql>  
	<select id="getUserTask" resultMap="BaseResultMap" parameterType="java.lang.String" >  
	   select   
	   <include refid="Base_Column_List" />  
	   from se_user_task  
	   where userid = #{userid,jdbcType=VARCHAR}  
	</select>  
	
	<select id="getUserTaskByTaskId" resultMap="BaseResultMap" parameterType="java.lang.String" >  
	   select   
	   <include refid="Base_Column_List" />  
	   from se_user_task  
	   where taskid = #{taskid,jdbcType=VARCHAR}  
	</select>  
	
	<insert id="save" parameterType="com.cff.springwork.model.activi.UserTask">
	  insert into se_user_task(taskid, userid, title, type, tasktype, content, name, email, mobile) 
	  		values(#{taskid}, #{userid}, #{title}, #{type}, #{tasktype}, #{content}, #{name}, #{email}, #{mobile})
	</insert>
	
	<update id="updateStatus" parameterType="com.cff.springwork.model.activi.UserTask">
		update se_user_task
		<set>
			<if test="status != null">status=#{status}</if>
		</set>
		where taskid=#{taskid}
	</update>
</mapper>  